ul,
li {
	list-style-type: none;
}
.text-logo {
	color: #d04f4f;
}
.filters-section {
	position: relative;
	top: 100px;
	margin-bottom: 150px;
	margin-top: 50px;
}

.fa-clock {
	margin: auto;
}

.bg-card-body {
	background-color: #e7e7e7;
}
.card-title {
	font-size: 1.3rem;
}
.card-text-description {
	overflow: hidden;
	text-overflow: ellipsis;
}

.form-control-ingredients {
	background: #3282f7;
	height: 50px;
	font-size: 1.2rem;
	cursor: pointer;
}
.form-control-appliances {
	background: #68d9a4;
	height: 50px;
	font-size: 1.2rem;
	cursor: pointer;
}

.form-control-ustensils {
	background: #ed6454;
	height: 50px;
	font-size: 1.2rem;
	cursor: pointer;
}
.form-control-ingredients::placeholder,
.form-control-appliances::placeholder,
.form-control-ustensils::placeholder {
	color: #fff;
}

.arrow {
	position: relative;
	top: 18px;
	right: 30px;
	cursor: pointer;
}
.items-list {
	max-width: 1200px;
	max-height: 500px;
	display: inline-block;
}
.item {
	cursor: pointer;
}

.tag-ingredients {
	background: #3282f7;
	color: #fff;
	padding: 3px;
	border-radius: 5px;
}
.tag-appliances {
	background: #68d9a4;
	color: #fff;
	padding: 3px;
	border-radius: 5px;
}
.tag-ustensils {
	background: #ed6454;
	color: #fff;
	padding: 3px;
	border-radius: 5px;
}

.deleteTag-ingredients {
	background: #3282f7;
	padding-right: 2px;
}

.ingredients-list {
	font-size: 1rem;
}
